html,body
{
  height:100%;
}

body
{
  background:#fff;
  color:#7F91A5;
  font-weight:bold;
  font: 13px;
  font-family: helvetica;
}

header
{
  width:100%;
  position:relative;
  overflow:hidden;
  z-index:0;
  background:url('img/bg-banner.png') no-repeat 50%;
  height:auto;
  background-color:#000;
  min-height:400px;
  background-size:cover;
  margin-bottom: 20px;
}

.nav {
  float: right;
  margin-top: 10px;
  font-size: 9px;
  margin-bottom: 20px;
}
.nav li
{
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  display: inline-block;
  list-style: none;
}

a
{
  text-decoration: none;
  color: #7F91A5;
}

a:hover
{
  color: #FFF;
  font-weight: black;
  background-color: #808FAA;
  padding: 5px;
  border-radius: 2px;
}

a:active
{
  color: #353945;
  font-weight: black;
}

.logo img
{
  float: left;
  position: absolute;
  top: 15px;
  left: 5%;
  width: 100px;
}

.btn-menu
{
  border: solid 1px;
  border-color: #31A275;
  border-radius: 3px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;

}

.btn-menu:hover
{
  background: #31A275;
  color: #FFF;
}

.btn-menu a
{
  color: #31A275;
}

.donate
{
  width: 250px;
  height: 300px;
  background: #fff;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top :5%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.35);

}

.featured
{
  font-size: 8px;
  font-style: normal;
  color: #FFF;
  text-transform: uppercase;
  float: left;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 2px;
  text-align: center;
  background: #343E50;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 6px;
}

.days
{
  float: left;
  margin-top: 12%;
  margin-left: 20%;
  font-size: 9px;
  color: #7F91A5;
  margin-left: 100px;
}

.titre-box
{
  clear: both;
  float: left;
  font-weight: bold;
  text-align: justify;
  font-size: 12px;
  color: ##343E50;
  text-transform: uppercase;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

.text-info
{
  clear: both;
  float: left;
  text-align: justify;
  font-size: 9px;
  color: #7C7E89;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.prix1
{
  float: left;
  padding-top: 5%;
  padding-right: 15%;
  text-align: justify;
  font-size: 17px;
  font-weight: bold;
  color: #31A275;
  margin-left: 10%;
  border-top: solid 1px;
  border-right: solid 1px;
  border-color: #CCCCCC;

}

.prix2
{
  float: left;
  padding-top: 5%;
  padding-left: 15%;
  text-align: justify;
  font-size: 17px;
  font-weight: bold;
  color: #30353D;
  border-top: solid 1px;
  border-color: #CCCCCC;
  margin-bottom: 8%;
}

.raised
{
  font-size: 8px;
  color: grey;
  text-transform: uppercase;
}

.btn
{
  clear: both;
  font-size: 9px;
  color: #FFF;
  text-transform: uppercase;
  background: #31A275;
  margin-top: 20%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 2px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  padding-right: 6px;
}

.grey-btn
{
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  color: #FFF;
  background: #808FAA;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.title
{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color : #282C34;
  margin-left:auto;
  margin-right: auto;
}

.title-next
{
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color : #282C34;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.tab1
{
  width: 100%;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.tab1 :hover
{
  border-radius: 5px;
  background: #EEE
}

.ico
{
  width: 40px;
}

.icon1
{
  float: left;
  width: 30%;
  text-align: center;
  margin-left: 30px;
  padding-bottom: 5%;
  padding-top: 15px;
}


.titleicon
{
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  color: #282C34;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.lorem
{
  padding-left: 5%;
  padding-right: 5%;
}
